{%extends 'base.html'%}
{% load static%}

{% block content %}

<div class="container-fluid ">
    <body class="body" style="background-image:url(/static/images/Adventure.avif)" height="100vh">
      
        <div class="display text-center hello-section">
            <h1 class='intro-heading'>Beautifully Flawed</h1>
            <p> Welcome to the Beautifully flawed lifestyle <br>
                Come along for an exciting adventure.</p>
            <a href=" {% url 'display' %} "> <button class="btn btn-home">Gallery</button></a>
        </div>

    
</div>
{% endblock %}